<div class="settings-page" id="settings-page">
  <!-- Page title Start -->
  <div class="page-title" id="page-title">
    <h3>Revamedia</h3>
    <div class="page-subTitle">
      <span>Settings</span>
    </div>
  </div>
  <!-- Page title End -->

  <!-- Settings Content Start -->
  <div class="settings">
    <div class="changeTheme">
      <h3 *ngIf="darkTheme == false">Dark Mode</h3>
      <h3 *ngIf="darkTheme == true">Light Mode</h3>
      <button (click)="changeTheme()">
        <fa-icon *ngIf="darkTheme == true" [icon]="faSun"></fa-icon>
        <fa-icon *ngIf="darkTheme == false" [icon]="faMoon"></fa-icon>
      </button>
    </div>
  </div>
  <!-- Settings Content End -->
</div>
