<div class="settings-page" id="settings-page">
  <!-- Page title Start -->
  <div class="page-title" id="page-title">
    <h3>Revamedia</h3>
    <div class="page-subTitle">
      <span>Settings</span>
    </div>
  </div>
  <!-- Page title End -->

  <!-- Settings Content Start -->
  <div class="settings">

    <div class="system-settings" id="setBackgroundColor">
      <h4>System Settings</h4>
      <div class="theme">
        <h5>Change Theme</h5>
        <div class="changeTheme">
          <h3 *ngIf="darkTheme == false">Dark Mode</h3>
          <h3 *ngIf="darkTheme == true">Light Mode</h3>
          <button (click)="changeTheme()">
            <fa-icon *ngIf="darkTheme == true" [icon]="faSun"></fa-icon>
            <fa-icon *ngIf="darkTheme == false" [icon]="faMoon"></fa-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="user-settings" id="setBackgroundColor">
      <h4>User Settings</h4>
      <div class="user-settings-title">
        <h3>Edit Account</h3>
        <button (click)="openModal('edit', editUser)">Edit</button>
      </div>
      <div class="user-settings-row" style="border-top:1px solid rgb(230,229,222);">
        <h5>First Name</h5>
        <span>{{ user?.firstName }}</span>
      </div>
      <div class="user-settings-row">
        <h5>Last Name</h5>
        <span>{{ user?.lastName }}</span>
      </div>
      <div class="user-settings-row">
        <h5>Username</h5>
        <span>{{user?.username}}</span>
      </div>
      <div class="user-settings-row">
        <h5>Email</h5>
        <span>{{user?.email}}</span>
      </div>
      <div class="user-settings-row" style="border:none;">
        <h5>Profile Pic</h5>
        <img src="{{ user?.profilePicture }}" alt="{{user?.username}}">
      </div>
      <!-- <div class="user-settings-title">
        <h3>Delete Account</h3>
        <button id="deleteBtn" (click)="openModal('delete', deleteUser)">Delete</button>
      </div> -->
    </div>

  </div>
  <!-- Settings Content End -->
</div>


<!-- BLACKOUTSCREEN START-->
<div class="screen" id="screen"></div>
<!-- BLACKOUTSCREEN END-->

<!-- EDIT POST FORM START -->
<div class="modal" id="add-post-modal">
  <div class="form-header">
    <h3>Create new post</h3>
    <span>x</span>
  </div>
  <form>
    <h6>{{ deleteUser?.firstName }} {{ deleteUser?.lastName }}</h6>
    <h2>Are you sure you want to delete your account?</h2>
    <div class="post-submit">
      <button id="deleteBtn">Delete</button>
    </div>
  </form>
</div>
<!-- DELETE ACCOUNT FORM END -->

<!-- EDIT ACCOUNT FORM START -->
<div class="modal" id="edit-account-modal">
  <div class="form-header">
    <h3>Update Account</h3>
    <span (click)="closeModal('edit')">x</span>
  </div>
  <form #updateUser="ngForm" (ngSubmit)="onUpdateUser(updateUser, editUser?.userId)" ngNativeValidate>
    <div class="user-settings-row">
      <h5>First Name</h5>
      <input
        ngModel="{{ editUser?.firstName }}"
        type="text"
        name="firstName"
        required
        title="Letters Only"
        pattern="([a-zA-ZÀ-ÿ][-,a-z. ']+[ ]*)+"
        id="first_name"
        placeholder="First Name...">
    </div>
    <div class="user-settings-row">
      <h5>Last Name</h5>
      <input
        ngModel="{{ editUser?.lastName }}"
        type="text"
        required
        name="lastName"
        title="Letters Only"
        pattern="([a-zA-ZÀ-ÿ][-,a-z. ']+[ ]*)+"
        id="last_name"
        placeholder="Last Name...">
    </div>
    <div class="user-settings-row">
      <h5>Username</h5>
      <input
        ngModel="{{ editUser?.username }}"
        type="text"
        name="username"
        required
        title="Letters, numbers and special characters"
        pattern="^(?=[a-zA-Z0-9._]{2,20}$)(?!.*[_.]{2})[^_.].*[^_.]$"
        id="username"
        placeholder="Username...">
    </div>
    <div class="user-settings-row">
      <h5>Email</h5>
      <input
        ngModel="{{ editUser?.email }}"
        type="email"
        required
        title="Valid Email"
        pattern="^[a-zA-Z0-9!$]{3,12}@[a-zA-Z0-9]{3,12}.[a-z]{2,3}$"
        name="email"
        id="email"
        placeholder="Email...">
    </div>
    <div class="user-settings-row">
      <h5>Profile Pic</h5>
      <input ngModel="{{ editUser?.profilePicture }}" type="url" name="profilePicture" id="profile_pic" placeholder="Image Url...">
    </div>
    <div class="user-settings-row">
      <h5>Password</h5>
      <div class="password">
        <input
          ngModel
          [type]="showPassword ? 'text' : 'password'"
          name="password"
          id="password"
          placeholder="Update Password..."
          title="Min 8 characters, at least 1 uppercase letter, 1 lowercase, 1 number and 1 special character"
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
          required>
        <p (click)="toggleShowPassword()">
          <fa-icon *ngIf="showPassword === false" [icon]="faEye"></fa-icon>
          <fa-icon *ngIf="showPassword === true" [icon]="faEyeSlash"></fa-icon>
          {{showPassword ? 'Hide Password' : 'Show Password' }}
        </p>
      </div>
    </div>

    <div class="post-submit">
      <button>Create Post</button>
    </div>
  </form>
</div>
<!-- EDIT ACCOUNT FORM END -->

