<div class="register-page">
  <div class="register-nav">
    <h1>Revamedia</h1>
  </div>

  <div class="register">
    <h2>Register</h2>
    <form>
      <div class="form-row">
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="Username...">
      </div>
      <div class="form-row">
        <label for="password">Password</label>
        <input type="password" id="username" placeholder="Username...">
      </div>
      <button>Register</button>
    </form>
    <div class="register-help">
      <span>Already Registered?<a routerLink="/login" routerLinkActive="active">Login</a></span>
    </div>
  </div>
</div>
