<div class="register-page">
  <div class="register-nav">
    <h1>Revamedia</h1>
  </div>

  <div class="register">
    <h2>Register</h2>

    <form (ngSubmit)="registerHandler(username,password,fName,lName,email)" #registerForm="ngForm">
      <div class="form-row">
        <div>
          <label for="fName">First Name</label>
          <input type="text" required title="Letters Only" pattern="([a-zA-ZÀ-ÿ][-,a-z. ']+[ ]*)+" name="fName" id="fName" placeholder="First Name..."
                 [(ngModel)]="fName" (blur) = "checkInput('fName')">
                 <span *ngIf="error.errorFirstName != ''" class="error" >
                     <fa-icon [icon]="faWarning"></fa-icon>
                   {{error.errorFirstName}}</span>
        </div>
        <div>
          <label for="lName">Last Name</label>
          <input type="text" required title="Letters Only" pattern="([a-zA-ZÀ-ÿ][-,a-z. ']+[ ]*)+" name="lName" id="lName"
                 placeholder="Last Name..." [(ngModel)]="lName" (blur) = "checkInput('lName')">
          <span *ngIf="error.errorLastName != ''" class="error">
            <fa-icon [icon]="faWarning"></fa-icon>
            {{error.errorLastName}}</span>
        </div>
      </div>
      <div class="form-row">
        <div>
          <label for="email">Email</label>
          <input type="email" required title="Valid Email" pattern="^((?![\.!@#$%^&*()-_=+])[\w/-_.]*[^.])(@\w+)(\.\w+(\.\w+)?[^.\W])$" name="email" id="email"
                 placeholder="Email..." [(ngModel)]="email" (blur) = "checkInput('email')">
          <span *ngIf="error.errorEmail != ''" class="error">
            <fa-icon [icon]="faWarning"></fa-icon>{{error.errorEmail}}</span>
        </div>
        <div>
          <label for="username">Username</label>
          <input type="text" required title="Letters, numbers and special characters" pattern="^(?=[a-zA-Z0-9._]{2,20}$)(?!.*[_.]{2})[^_.].*[^_.]$" name="username" id="username"
                 placeholder="Username..." [(ngModel)]="username" (blur) = "checkInput('username')">
          <span *ngIf="error.errorUsername != ''" class="error">
            <fa-icon [icon]="faWarning"></fa-icon>{{error.errorUsername}}</span>
        </div>
      </div>
      <div class="form-row">
        <div>
          <label for="password">Password</label>
          <input [type]="showPassword ? 'text' : 'password'" #modelPassword="ngModel" [(ngModel)]="password" required title="Min 8 characters, at least 1 uppercase letter, 1 lowercase, 1 number and 1 special character"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" name="password" id="password" placeholder="Password..." (blur) = "checkInput('password')">
          <span (click)="toggleShowPassword()">
            <fa-icon *ngIf="showPassword === false" [icon]="faEye"></fa-icon>
            <fa-icon *ngIf="showPassword === true" [icon]="faEyeSlash"></fa-icon>
            {{showPassword ? 'Hide Password' : 'Show Password' }}
          </span>
          <span *ngIf="error.errorPassword != ''" class="error">
            <fa-icon [icon]="faWarning"></fa-icon>
            {{error.errorPassword}}</span>
        </div>
        <div>
          <label for="confirm_password">Confirm Password</label>
          <input [type]="showConfirmPassword ? 'text' : 'password'" name="confirm_password" id="confirm_password"
                 placeholder="Confirm password..." ngValidateEqual="password" #modelConfirmPassword="ngModel" required [(ngModel)]="confirmPassword">

          <span (click)="toggleShowConfirmPassword()">
            <fa-icon *ngIf="showConfirmPassword === false" [icon]="faEye"></fa-icon>
            <fa-icon *ngIf="showConfirmPassword === true" [icon]="faEyeSlash"></fa-icon>
            {{showConfirmPassword ? 'Hide Password' : 'Show Password' }}
          </span>
          <p *ngIf="(modelConfirmPassword.dirty || modelConfirmPassword.touched) && modelConfirmPassword.invalid">
            <span class="submit" *ngIf="modelConfirmPassword.hasError('notEqual') && modelPassword.valid" class="error">
              Passwords don't match!
            </span>
          </p>
        </div>
      </div>

      <div class="submit">
        <button [disabled]="!registerForm.form.valid">Register</button>
      </div>
    </form>
    <div class="register-help">
      <span>Already Registered?<a routerLink="/login" routerLinkActive="active">Login</a></span>
    </div>
  </div>
</div>
