$orange: #FEAE49;
$blue: #57BEE6;
$grey: rgb(192,192,190);
$lightgrey: #e6e5de;
$darkgrey: rgb(61,66,74);
.home-page{
  padding: 2rem 1rem;
  margin-left: 6%;
  min-height: 100vh;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='5.9399999999999995'%3E%3Cpath d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.9800000000000002' transform='' cx='500' cy='100' r='40'/%3E%3Cpath transform='' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1.8'%3E%3Cpath transform='' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='3.9600000000000004' transform='' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  // page title start
  .page-title{
    width: 100%;
    background: white;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: .7px solid $lightgrey;
    padding-bottom: .5rem;
    .card{
      h3{
        font-size: 1.5rem;
        font-weight: bold;
        color: $darkgrey;
      }
      .user{
        display: flex;
        flex-direction: row;
        align-items: center;
        img{
          width: 1.25rem;
          height: 1.25rem;
          border-radius: 50%;
          border: 1px solid $orange;
          cursor: pointer;
          &:hover{
            border: 1px solid $blue;
          }
        }
        span{
          display: flex;
          flex-direction: row;
          p{
            font-size: 1rem;
            cursor: pointer;
            &:hover{
              text-decoration: underline;
            }
          }
          font-size: 1rem;
        }
      }
    }
    button{
      border: none;
      background: $orange;
      font-size: 1rem;
      border-radius: 5px;
      border: none;
      outline: none;
      padding: .5rem 1rem;
      cursor: pointer;
      color: black;
      transition: all .3s ease-in-out;
      &:hover{
        background: $blue;
      }
    }
  }
  @media screen and (max-width: 800px){
    .page-title{
      padding: .5rem 1rem;
      button{
        font-size: .9rem;
        border-radius: 7px;
        padding: .4rem .8rem;
      }
    }
  }
  // page title end

  // main start
  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .post-data{
      width: 55%;
      margin: 2rem 0;
      .post{
        max-width: 100%;
        border: 1px solid $lightgrey;
        border-radius: 8px;
        margin-bottom: .5rem;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.075) 0px 3px 8px;

        // POST TITLE START
        .post-title{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid $lightgrey;
          padding:1rem;
          .post-author{
            display: flex;
            flex-direction: row;
            align-items: center;
            img{
              cursor: pointer;
              border-radius:50%;
              width: 1.5rem;
              height: 1.5rem;
              border: 1.5px solid $blue;
              &:hover{
                border: 1.5px solid $orange;
              }
            }
            a{
              text-decoration: none;
              color: $darkgrey;
              margin-left: .5rem;
              font-size: 1rem;
              font-weight: 500;
            }
          }
          .post-options{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            #icon{
              color: $darkgrey;
              font-size: 1.5rem;
              cursor: pointer;
            }
            ul{
              border: 1px solid $grey;
              position: absolute;
              transform:translate(45%, 25%);
              list-style: none;
              background-color: $lightgrey;
              border-radius: 3px;
              li{
                background-color: $lightgrey;
                margin: .75rem 0;
                width: 100%;
                padding: .25rem;
                text-align: center;
                color: #000;
                cursor: pointer;
                &:hover{
                  background-color: $grey;
                }
              }
            }
          }
        }
        @media screen and (max-width: 800px){
          .post-title{
            .post-options{
              #icon{
                font-size: 1.2rem;
              }
              ul{
                width: 20%;
                transform:translate(40%, 24%);
              }
            }
          }
        }
        // POST TITLE END

        .post-body{
          img{
            width: 100%;
            object-fit: cover;
          }
          .post-description{
            width: 100%;
            padding: 1rem;
            p{
              a{
                margin-right: 1rem;
                text-decoration: none;
                color: $darkgrey;
                font-weight: 500;
                font-size: 1rem;
                &:hover{
                  text-decoration: underline;
                }
              }
            }
          }
          .post-options{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid $lightgrey;
            padding:1rem;
            .container{
              width: 25%;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              .likes{
                #heartIcon{
                  color: pink;
                  cursor: pointer;
                  transition: all .3s ease-in-out;
                  &:hover{
                    color: red;
                  }
                }
                span{
                  margin-left: .5rem;
                  font-size: .9rem;
                }
              }
              .comment{
                #commentIcon{
                  color: lightblue;
                  cursor: pointer;
                  transition: all .3s ease-in-out;
                  &:hover{
                    color: $blue;
                  }
                }
              }
            }
            .bookmark{
              #icon{
                color: $grey;
                cursor: pointer;
                transition: all .3s ease-in-out;
                &:hover{
                  color: $darkgrey;
                }
              }
            }
          }
        }
      }

      //  ADD COMMENT START
      .add-comment{
        margin: .5rem 0;
        width: 100%;
        background: white;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.075) 0px 3px 8px;
        padding: 1rem;
        .add-comment-header{
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: .5rem;
          h5{
            font-size: 1rem;
            color: $darkgrey;
            text-decoration: underline
          }
          button{
            background: none;
            border: none;
            font-size: 1.3rem;
            color: grey;
            cursor: pointer;
            &:hover{
              color: $darkgrey;
            }
          }
        }
        Form{
          display: flex;
          flex-direction: column;
          width: 100%;
          textarea{
            resize: vertical;
            font-size: 1rem;
            color: $darkgrey;
            padding: .4rem;
          }
          .reactions{
            margin: .5rem 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            span{
              font-size: 1.7rem;
            }
            .search{
              width: 100%;
              display: flex;
              flex-direction: row;
              input{
                border-radius: 2px;
                width: 100%;
                font-size: 1rem;
                color: $darkgrey;
                padding: .3rem;
                border: none;
                border: 1px solid $grey;
                outline: none;
                &:focus{
                  border: 1px solid $blue;
                }
              }
              span{
                background: $blue;
                font-size: 1rem;
                cursor: pointer;
                color: $darkgrey;
                padding: .2rem .5rem;
                transition: all .3s ease-in-out;
                &:hover{
                  background: $orange;
                }
              }
            }
            #reaction-title{
              font-size: 1.25rem;
              color: $blue;
              margin-top: .5rem;
            }
            .gifs{
              margin: .5rem 0;
              width: 100%;
              height: 40vh;
              overflow-y: auto;
              display: grid;
              grid-template-columns: repeat(4, 1fr);
              grid-row-gap: 1rem;
              .gif{
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                  object-fit: cover;
                  width: 6rem;
                  height: 6rem;
                  border-radius: 3px;
                  cursor: pointer;
                  border: 2px solid $blue;
                  &:hover{
                    border: 2px solid $orange;
                  }

                }
              }
            }
          }
          button{
            margin-top: .5rem;
            align-self: flex-end;
            width: 20%;
            border: none;
            padding: .4rem;
            border-radius: 4px;
            background: $lightgrey;
            font-size: .9rem;
            color: $darkgrey;
            cursor: pointer;
            &:hover{
              background: $grey;
            }
          }
        }
      }
      @media screen and (max-width: 800px) {
        .add-comment{
          Form{
            .reactions{
              .gifs{
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(4, 1fr);
                .gif{
                  img{
                    object-fit: cover;
                    width: 5rem;
                    height: 5rem;
                  }
                }
              }
            }
          }
        }
      }
      // ADD COMMENT END

      #viewComments{
        cursor: pointer;
        background: white;
        padding: .2rem .5rem;
        border-radius: 3px;
        color: $darkgrey;
        margin: .5rem 0;
        &:hover{
          text-decoration: underline
        }
      }

      // COMMENTS DISPLAY
      .post-comments-section{
        margin-top: .5rem;
        background: white;
        width: 100%;
        border-radius: 6px;
        padding: 2rem;
        box-shadow: rgba(0, 0, 0, 0.075) 0px 3px 8px;
        h5{
          font-size: 1rem;
          color: $darkgrey;
          margin-bottom: .5rem;
          text-decoration:underline;
        }
        .comment{
          border-bottom: 1px solid $lightgrey;
          padding-bottom: .5rem;
          .comment-title{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .comment-author{
              display: flex;
              flex-direction: row;
              align-items: center;
              img{
                border-radius:50%;
                width: 1.5rem;
                height: 1.5rem;
                border: 1.5px solid $blue;
                cursor: pointer;
                &:hover{
                  border: 1.5px solid $orange;
                }
              }
              a{
                text-decoration: none;
                color: $darkgrey;
                margin-left: .5rem;
                font-size: 1rem;
                font-weight: 500;
                &:hover{
                  text-decoration: underline;
                }
              }
            }
            .comment-option{
              button{
                border: none;
                background: none;
                font-size: 1rem;
                cursor: pointer;
                margin-left: 1rem;
                color: $darkgrey;
                &:hover{
                  text-decoration: underline;
                }
              }
            }
          }
          .comment-content{
            margin-left: 2rem;
            p{
              font-size: 1rem;
            }
            img{
              margin: .4rem 0 0 .4rem;
              border: 1px solid $lightgrey;
              width: 12rem;
              object-fit: contain;
              border-radius: 3px;
            }
          }
          .reply-card{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            button{
              border: none;
              padding: .4rem;
              border-radius: 4px;
              background: $lightgrey;
              font-size: .7rem;
              color: $darkgrey;
              cursor: pointer;
              &:hover{
                background: $grey;
              }
            }
          }

          // ADD REPLY FORM START
          .add-reply{
            margin: .5rem 0;
            width: 100%;
            background: white;
            border-radius: 8px;
            box-shadow: rgba(0, 0, 0, 0.075) 0px 3px 8px;
            padding: 1rem;
            .add-reply-header{
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              margin-bottom: .5rem;
              h5{
                font-size: 1rem;
                color: $darkgrey;
                text-decoration: underline
              }
              button{
                background: none;
                border: none;
                font-size: 1.3rem;
                color: grey;
                cursor: pointer;
                &:hover{
                  color: $darkgrey;
                }
              }
            }
            Form{
              display: flex;
              flex-direction: column;
              width: 100%;
              textarea{
                resize: vertical;
                font-size: 1rem;
                color: $darkgrey;
                padding: .4rem;
              }
              .reactions{
                margin: .5rem 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                span{
                  font-size: 1.5rem;
                }
                .search{
                  width: 100%;
                  display: flex;
                  flex-direction: row;
                  input{
                    border-radius: 2px;
                    width: 100%;
                    font-size: 1rem;
                    color: $darkgrey;
                    padding: .3rem;
                    border: none;
                    border: 1px solid $grey;
                    outline: none;
                    &:focus{
                      border: 1px solid $blue;
                    }
                  }
                  span{
                    background: $blue;
                    font-size: 1rem;
                    cursor: pointer;
                    color: $darkgrey;
                    padding: .2rem .5rem;
                    transition: all .3s ease-in-out;
                    &:hover{
                      background: $orange;
                    }
                  }
                }
                #reaction-title{
                  font-size: 1.25rem;
                  color: $blue;
                  margin-top: .5rem;
                }
                .gifs{
                  margin: .5rem 0;
                  width: 100%;
                  height: 40vh;
                  overflow-y: auto;
                  display: grid;
                  grid-template-columns: repeat(4, 1fr);
                  grid-row-gap: 1rem;
                  .gif{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                      object-fit: cover;
                      width: 6rem;
                      height: 6rem;
                      border-radius: 3px;
                      cursor: pointer;
                      border: 2px solid $blue;
                      &:hover{
                        border: 2px solid $orange;
                      }

                    }
                  }
                }
              }
              button{
                margin-top: .5rem;
                align-self: flex-end;
                width: 20%;
                border: none;
                padding: .4rem;
                border-radius: 4px;
                background: $lightgrey;
                font-size: .9rem;
                color: $darkgrey;
                cursor: pointer;
                &:hover{
                  background: $grey;
                }
              }
            }
          }
          @media screen and (max-width: 800px) {
            .add-reply{
              Form{
                .reactions{
                  .gifs{
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(4, 1fr);
                    .gif{
                      img{
                        object-fit: cover;
                        width: 4rem;
                        height: 4rem;
                      }
                    }
                  }
                }
              }
            }
          }
          // ADD REPLY FORM END

        }
        .reply{
          border-top: 1px solid $lightgrey;
          margin: .5rem 0  0 2rem;
          padding: .5rem 0;
          .reply-title{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .reply-author{
              display: flex;
              flex-direction: row;
              align-items: center;
              img{
                border-radius:50%;
                width: 1.5rem;
                height: 1.5rem;
                border: 1.5px solid $blue;
                cursor: pointer;
                &:hover{
                  border: 1.5px solid $orange;
                }
              }
              a{
                text-decoration: none;
                color: $darkgrey;
                margin-left: .5rem;
                font-size: 1rem;
                font-weight: 500;
                &:hover{
                  text-decoration: underline;
                }
              }
            }
            .reply-option{
              button{
                border: none;
                background: none;
                font-size: 1rem;
                cursor: pointer;
                margin-left: 1rem;
                color: $darkgrey;
                &:hover{
                  text-decoration: underline;
                }
              }
            }
          }
          .reply-content{
            margin-left: 2rem;
            p{
              font-size: 1rem;
            }
            img{
              margin: .4rem 0 0 .4rem;
              border: 1px solid $lightgrey;
              width: 12rem;
              object-fit: contain;
              border-radius: 3px;
            }
          }
        }
      }
      // COMMENT DISPLAY END
    }

    .noPost{
      width: 60%;
      padding: 4rem 2rem;
      margin: 5rem 0;
      border-radius: 8px;
      background-color: #FBAB7E;
      background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
      box-shadow: rgba(0, 0, 0, 0.075) 0px 3px 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1{
        font-size: 3rem;
        color: white;
      }
      p{
        font-size: 1.5rem;
        color: white;
        font-weight: bold;
      }
      span{
        margin-top:1rem;
        font-size: 1rem;
        color: $darkgrey;
      }
    }
    @media screen and (max-width: 800px) {
      .noPost{
        width: 80%;
        margin: 1rem 0;
        border-radius: 8px;
        text-align: center;
      }
    }
  }
  // main end
}
// media queries for homepage
@media screen and (max-width: 800px) {
  .home-page{
    margin-left: 10%;
    .main{
      .post-data{
        width: 90%;
        margin: 2rem 0;
      }
    }
  }
}

// ADD POST FORM
.screen{
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.38);
  top: -100%;
  left: -100%;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  transition: all .6s ease-in-out;
}

.modal{
  position: fixed;
  z-index: 15;
  top: -100%;
  left: -100%;
  transform: scale(0);
  transition: all .6s ease-in-out;
  background-color: white;
  border-right: 3px solid $orange;
  border-left: 3px solid $orange;
  border-bottom: 3px solid $blue;
  border-top: 3px solid $blue;
  min-height: 30vh;
  border-radius: 2px;
  background: white;
  padding: 2rem;
  width: 60%;
  .form-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h3{
      font-size: 2.5rem;
      color: $darkgrey;
      text-decoration: underline;
    }
    span{
      font-size: 2.5rem;
      color: $darkgrey;
      cursor: pointer;
      transition: all .3s ease-in-out;
      &:hover{
       color: $blue;
      }
    }
  }
  form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
    h2{
      color: $darkgrey;
      font-size: 1.5rem;
      font-weight: 500;
      margin: .5rem 0;
    }
    .form-data{
      margin-bottom: .5rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      h4{
        font-size: 1.25rem;
        color: $darkgrey;
        margin-bottom: .5rem;
      }
      input{
        width: 100%;
        padding: .3rem;
        font-size: 1rem;
        color: $darkgrey;
        border: 1px solid $grey;
        border-radius: 4px;
        outline: none;
        &:focus{
          border: 1px solid $blue;
        }
      }
      .file {
        opacity: 0;
        width: 0.1px;
        height: 0.1px;
        position: absolute;
      }
      .file-input label {
        margin: .5rem 0;
        display: block;
        position: relative;
        height: 2rem;
        width: 7rem;
        border-radius: 8px;
        background: $lightgrey;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: .9rem;
        color: $darkgrey;
        cursor: pointer;
        transition: transform .2s ease-out;
      }

      .file-name {
        font-size: 0.85rem;
        color: #555;
      }

      input:hover + label,
      input:focus + label {
        transform: scale(1.02);
      }

      /* Adding an outline to the label on focus */
      input:focus + label {
        outline: 1px solid #000;
        outline: -webkit-focus-ring-color auto 2px;
      }

      button{
        align-self: flex-end;
        width: 20%;
        border: none;
        padding: .4rem;
        border-radius: 4px;
        background: $lightgrey;
        font-size: .9rem;
        color: $darkgrey;
        cursor: pointer;
        &:hover{
          background: $grey;
        }
      }
      textarea{
        width: 100%;
        resize: none;
        overflow: auto;
        font-size: 1rem;
        padding: .5rem;
        color: $darkgrey;
        outline: none;
        border: none;
        border: 1px solid $grey;
        border-radius: 3px;
        &:focus{
          border: 1.2px solid $orange;
        }
      }
    }
    .post-submit{
      margin-top: 1rem;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      button{
        border: none;
        background: $orange;
        font-size: 1.25rem;
        cursor: pointer;
        color: $darkgrey;
        padding: .4rem 1rem;
        border-radius: 3px;
        transition: all .3s ease-in-out;
        &:hover{
          background: #e4993f;
        }
      }
      #deleteBtn{
        border: none;
        background: rgb(206, 0, 0);
        font-size: 1.25rem;
        cursor: pointer;
        color: white;
        padding: .4rem 1rem;
        border-radius: 3px;
        transition: all .3s ease-in-out;
        &:hover{
          background: rgb(162, 0, 0);
        }
      }
    }
  }
}
// media queries for modals
@media screen and (max-width: 800px) {
  .modal{
    width: 85%;
    .form-header{
      h3{
        font-size: 2rem;
      }
    }
  }
}

.openScreen{
  top: 0;
  left: 0;
  opacity: 1;
}
.openModal{
  top: 5%;
  left: 20%;
  transform: scale(1);
}
// media queries for modals
@media screen and (max-width: 800px) {
  .openModal{
    top: 5%;
    left: 10%;
  }
}
