<div class="home-page">
  <!-- Page title Start -->
  <div class="page-title">
    <h3>Revamedia</h3>
    <div class="page-subTitle">
      <span>Home</span>
    </div>
  </div>
  <!-- Page title End -->

  <!-- main feed start -->
  <div class="main">

      <!-- post start -->
      <div class="post-data">
        <div class="post">
          <div class="post-title">
            <div routerLink="/profile" routerLinkActive="active" class="post-author">
              <img src="https://avatars.githubusercontent.com/u/77355023?v=4" alt="User">
              <a routerLink="/profile" routerLinkActive="active">leobarrientos02</a>
            </div>
            <fa-icon id="icon" [icon]="faEllipsis" size="lg"></fa-icon>
          </div>
          <div class="post-body">
            <img src="https://images.theconversation.com/files/453091/original/file-20220318-23-2ehppm.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=900.0&fit=crop" alt="User">
            <div class="post-description">
              <p><a routerLink="/profile" routerLinkActive="active">leobarrientos02</a>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, dolore animi consequuntur laudantium, atque at ex voluptas perspiciatis ut quod quasi officiis. Eum, delectus. Porro laboriosam nihil dolor corporis minima?</p>
            </div>
            <div class="post-options">
              <div class="container">
                <div class="likes">
                  <fa-icon id="icon" title="Like" [icon]="faHeart" size="lg"></fa-icon>
                  <span>100 likes</span>
                </div>
                <div class="comment">
                  <fa-icon id="icon" title="Comment" [icon]="faComment" size="lg"></fa-icon>
                </div>
              </div>
              <div class="bookmark">
                <fa-icon id="icon" title="Bookmark" [icon]="faBookmark" size="lg"></fa-icon>
              </div>
            </div>
          </div>
        </div>

        <span>Hide Comments</span>

        <div class="post-comments-section">

          <!-- comment start -->
          <div class="comment">
            <div class="comment-author">
              <img src="https://avatars.githubusercontent.com/u/77355023?v=4" alt="User">
              <a routerLink="/profile" routerLinkActive="active" >leobarrientos02</a>
            </div>
            <div class="comment-content">
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae quae iusto at optio corrupti voluptatem nihil aliquam explicabo assumenda aliquid eius labore fugiat quam commodi fugit, doloremque ad quos nisi.</p>
            </div>
            <!-- comment end -->

            <!-- Replies Start -->
            <div class="reply">
              <div class="reply-author">
                <img src="https://avatars.githubusercontent.com/u/77355023?v=4" alt="User">
                <a routerLink="/profile" routerLinkActive="active" title="View Profile" >leobarrientos02</a>
              </div>
              <div class="reply-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, fuga, eaque eos alias laboriosam quis sapiente, illum provident accusantium odio minima aspernatur nihil deleniti? Dicta odit tempore aspernatur cum quis!</p>
              </div>
            </div>
            <!-- Replies End -->

          </div>
        </div>
      </div>
      <!-- post end -->

  </div>
  <!-- main feed end -->

</div>
