.home-page{
  padding: 2rem 1rem;
  margin-left: 6%;
  .page-title{
    width: 100%;
    h3{
      font-size: 1.5rem;
      font-weight: bold;
    }
    span{
      font-size: .9rem;
    }
  }
}
@media screen and (max-width: 800px) {
  .home-page{
    margin-left: 10%;
  }
}
