<div class="profile-page">
  <!-- Page title Start -->
  <div class="page-title">
    <h3>Revamedia</h3>
    <div class="page-subTitle">
      <span>Profile</span>
    </div>
  </div>
  <!-- Page title End -->

  <!-- PROFILE START -->
  <div class="profile">
    <div class="profile-header">
      <div class="left-card">
        <img src="https://avatars.githubusercontent.com/u/77355023?v=4" alt="User">
        <h5>leobarrientos02</h5>
      </div>

      <div class="right-card">
        <h5>1 Follower</h5>
        <h5>200 Following</h5>
      </div>
    </div>

    <h4 id="profile-posts-title">Posts</h4>
    <div class="users-post">
      <div class="post">
        <img src="https://images.theconversation.com/files/453091/original/file-20220318-23-2ehppm.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=900.0&fit=crop" alt="User">
      </div>
      <div class="post">
        <img src="https://images.theconversation.com/files/453091/original/file-20220318-23-2ehppm.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=900.0&fit=crop" alt="User">
      </div>
      <div class="post">
        <img src="https://images.theconversation.com/files/453091/original/file-20220318-23-2ehppm.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=900.0&fit=crop" alt="User">
      </div>
      <div class="post">
        <img src="https://images.theconversation.com/files/453091/original/file-20220318-23-2ehppm.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=900.0&fit=crop" alt="User">
      </div>
      <div class="post">
        <img src="https://images.theconversation.com/files/453091/original/file-20220318-23-2ehppm.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=900.0&fit=crop" alt="User">
      </div>
    </div>
  </div>
  <!-- PROFILE END -->
</div>
