$Orange: #FEAE49;
$Blue: #57BEE6;
$grey: rgb(192,192,190);
$lightgrey: rgb(230,229,222);
$darkgrey: rgb(61,66,74);
.profile-page{
  padding: 2rem 1rem;
  margin-left: 6%;
  .page-title{
    width: 100%;
    h3{
      font-size: 1.5rem;
      font-weight: bold;
    }
    span{
      font-size: .9rem;
    }
    border-bottom: .7px solid $lightgrey;
    padding-bottom: .5rem;
  }
}
@media screen and (max-width: 800px) {
  .profile-page{
    margin-left: 10%;
  }
}
