<div class="profile-page" id="profile-page">
  <!-- Page title Start -->
  <div class="page-title" id="page-title">
    <h3>Revamedia</h3>
    <div class="page-subTitle">
      <div class="user">
        <img *ngIf="user?.profilePicture !== ''" src="{{user?.profilePicture}}" alt="{{ user?.username }}"  routerLink="/profile" routerLinkActive="active">
        <img *ngIf="user?.profilePicture === ''" src="https://randomuser.me/api/portraits/lego/1.jpg" alt="No Pic" routerLink="/profile" routerLinkActive="active">
        <span><p>{{ user?.username }}</p>'s Profile</span>
      </div>
    </div>
  </div>
  <!-- Page title End -->

  <!-- PROFILE START -->
  <div class="profile">
    <div class="profile-header" id="setBackgroundColor">
      <div class="left-card">
        <img *ngIf="user?.profilePicture !== ''" src="{{user?.profilePicture}}" alt="{{ user?.username }}">
        <img *ngIf="user?.profilePicture === ''" src="https://randomuser.me/api/portraits/lego/1.jpg" alt="No Pic">
        <h5>{{ user?.username }}</h5>
      </div>

      <div class="right-card">
        <button routerLink="/messages" routerLinkActive="active">Message</button>
        <h5 (click)="openModal('followers', user)">{{ user?.followers.length }} Follower</h5>
        <h5 (click)="openModal('following', user)">{{ user?.following.length }} Following</h5>
      </div>
    </div>

    <h4 class="profile-posts-title" id="setBackgroundColor">{{ user?.username }}'s Posts</h4>
    <div class="users-post">
      <div class="post" *ngFor="let post of user?.postsOwned">
        <img src="{{ post?.image }}" alt="POST">
      </div>
    </div>

    <!-- NO POST AVAILABLE START-->
    <div class="noPost" *ngIf="user?.postsOwned.length === 0">
      <h1>No Post</h1>
      <p>Seems like there are no posts available to show.</p>
    </div>
    <!-- NO POST AVAILABLE END-->
  </div>
  <!-- PROFILE END -->
</div>

<!-- BLACKOUTSCREEN START-->
<div class="screen" id="screen"></div>
<!-- BLACKOUTSCREEN END-->

<!-- FOLLOWERS MODALS START-->
<div class="modal" id="followers-modal">
  <div class="modal-header">
    <h3>Followers</h3>
    <span (click)="closeModal('followers')">x</span>
  </div>
  <div class="modal-body">
    <div class="follower" *ngIf="user?.followers.length > 0">
      <div class="follower-data">
        <img src="https://avatars.githubusercontent.com/u/77355023?v=4" alt="Name" routerLink="/profile" routerLinkActive="active">
        <h5 routerLink="/profile" routerLinkActive="active">leobarrientos02</h5>
      </div>
      <div class="follow-option">
        <button id="unfollow">Unfollow</button>
        <button>Follow Back</button>
      </div>
    </div>
    <div class="noFollowers" *ngIf="user?.followers.length == 0">
      <h4>Nobody is following you.</h4>
    </div>
  </div>
</div>
<!-- FOLLOWERS MODALS END-->

<!-- FOLLOWING MODALS START-->
<div class="modal" id="following-modal">
  <div class="modal-header">
    <h3>Following</h3>
    <span (click)="closeModal('following')">x</span>
  </div>
  <div class="modal-body">
    <div class="following"  *ngIf="user?.following.length > 0">
      <div class="following-data">
        <img src="https://avatars.githubusercontent.com/u/77355023?v=4" alt="Name" routerLink="/profile" routerLinkActive="active">
        <h5 routerLink="/profile" routerLinkActive="active">leobarrientos02</h5>
      </div>
      <div class="follow-option">
        <button id="unfollow">Unfollow</button>
      </div>
    </div>
    <div class="noFollowing" *ngIf="user?.following.length == 0">
      <h4>You don't follow anyone.</h4>
    </div>
  </div>
</div>
<!-- FOLLOWING MODALS END-->

