<div class="profile-page" id="profile-page">
  <!-- Page title Start -->
  <div class="page-title" id="page-title">
    <h3>Revamedia</h3>
    <div class="page-subTitle">
      <span>Profile</span>
    </div>
  </div>
  <!-- Page title End -->

  <!-- PROFILE START -->
  <div class="profile">
    <div class="profile-header" id="setBackgroundColor">
      <div class="left-card">
        <img src="https://avatars.githubusercontent.com/u/77355023?v=4" alt="User">
        <h5>leobarrientos02</h5>
      </div>

      <div class="right-card">
        <button routerLink="/messages" routerLinkActive="active">Message</button>
        <h5 (click)="openModal('followers', data)">1 Follower</h5>
        <h5 (click)="openModal('following', data)">1 Following</h5>
      </div>
    </div>

    <h4 class="profile-posts-title" id="setBackgroundColor">Posts</h4>
    <div class="users-post">
      <div class="post">
        <img src="https://images.theconversation.com/files/453091/original/file-20220318-23-2ehppm.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=900.0&fit=crop" alt="User">
      </div>
      <div class="post">
        <img src="https://images.theconversation.com/files/453091/original/file-20220318-23-2ehppm.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=900.0&fit=crop" alt="User">
      </div>
      <div class="post">
        <img src="https://images.theconversation.com/files/453091/original/file-20220318-23-2ehppm.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=900.0&fit=crop" alt="User">
      </div>
      <div class="post">
        <img src="https://images.theconversation.com/files/453091/original/file-20220318-23-2ehppm.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=900.0&fit=crop" alt="User">
      </div>
      <div class="post">
        <img src="https://images.theconversation.com/files/453091/original/file-20220318-23-2ehppm.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=900.0&fit=crop" alt="User">
      </div>
    </div>
  </div>
  <!-- PROFILE END -->
</div>

<!-- BLACKOUTSCREEN START-->
<div class="screen" id="screen"></div>
<!-- BLACKOUTSCREEN END-->

<!-- FOLLOWERS MODALS START-->
<div class="modal" id="followers-modal">
  <div class="modal-header">
    <h3>Followers</h3>
    <span (click)="closeModal('followers')">x</span>
  </div>
  <div class="modal-body">
    <div class="follower">
      <div class="follower-data">
        <img src="https://avatars.githubusercontent.com/u/77355023?v=4" alt="Name" routerLink="/profile" routerLinkActive="active">
        <h5 routerLink="/profile" routerLinkActive="active">leobarrientos02</h5>
      </div>
      <div class="follow-option">
        <button id="unfollow">Unfollow</button>
        <button>Follow Back</button>
      </div>
    </div>
  </div>
</div>
<!-- FOLLOWERS MODALS END-->

<!-- FOLLOWING MODALS START-->
<div class="modal" id="following-modal">
  <div class="modal-header">
    <h3>Following</h3>
    <span (click)="closeModal('following')">x</span>
  </div>
  <div class="modal-body">
    <div class="following">
      <div class="following-data">
        <img src="https://avatars.githubusercontent.com/u/77355023?v=4" alt="Name" routerLink="/profile" routerLinkActive="active">
        <h5 routerLink="/profile" routerLinkActive="active">leobarrientos02</h5>
      </div>
      <div class="follow-option">
        <button id="unfollow">Unfollow</button>
      </div>
    </div>
  </div>
</div>
<!-- FOLLOWING MODALS END-->

