<div
  class="messages-page"
  id="messages-page"
>
  <!-- Page title Start -->
  <div
    class="page-title"
    id="page-title"
  >
    <h3>Revamedia</h3>
    <div class="page-subTitle">
      <span>Direct Messages</span>
    </div>
  </div>
  <!-- Page title End -->
  <div class="user-list-wrapper">
    <app-user-list></app-user-list>
  </div>
  <div class="conversation-wrapper">
    <app-conversation></app-conversation>
  </div>
  <div class="message-input-wrapper">
    <app-message-input></app-message-input>
  </div>
</div>