<div class="navbar">
  <ul>
    <li>
      <a routerLink="/home" routerLinkActive="active">
        <fa-icon id="icon" title="Home" [icon]="faHome"></fa-icon>
      </a>
    </li>
    <li>
      <a routerLink="/messages" routerLinkActive="active">
        <fa-icon id="icon" title="Messages" [icon]="faEnvelope"></fa-icon>
      </a>
    </li>
    <li>
      <a routerLink="/groups" routerLinkActive="active">
        <fa-icon title="Groups" id="icon" [icon]="faUsers"></fa-icon>
      </a>
    </li>
    <li>
      <a routerLink="/events" routerLinkActive="active">
        <fa-icon id="icon" title="Events" [icon]="faCalendarDays"></fa-icon>
      </a>
    </li>
    <li>
      <a  routerLink="/settings" routerLinkActive="active">
        <fa-icon title="Settings" id="icon" [icon]="faUserGear"></fa-icon>
      </a>
    </li>
    <li>
      <a>
        <fa-icon title="Log Out" id="icon" [icon]="faDoorOpen"></fa-icon>
      </a>
    </li>
  </ul>
</div>
