.error-page{
  margin-left: 6%;
  font-family: "Tomorrow", sans-serif;
  height: 100vh;
  background-image: linear-gradient(
    to top,
    #2e1753,
    #1f1746,
    #131537,
    #0d1028,
    #050819
  );
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span{
      font-size: 2rem;
      color: white;
    }
    h1{
      font-size: 6rem;
      color: white;
    }
    a{
      margin-top: 1rem;
      text-decoration: none;
      background-color: white;
      font-size: 1rem;
      font-weight: 600;
      padding: .5rem 1rem;
      border-radius: 6px;
    }
  }
  .astronaut img {
    width: 100px;
    position: absolute;
    top: 55%;
    animation: astronautFly 6s infinite linear;
  }
}
@keyframes astronautFly {
  0% {
    left: -100px;
  }
  25% {
    top: 50%;
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(45deg);
    top: 55%;
  }
  75% {
    top: 60%;
    transform: rotate(30deg);
  }
  100% {
    left: 110%;
    transform: rotate(45deg);
  }
}
